In [6]:
import pandas as pd
import numpy as np
import sqlite3
from dotenv import load_dotenv
import os
import psycopg2
from psycopg2 import extras
load_dotenv();

### Load Data

In [7]:
campaign = pd.read_csv("../data/Campaign.csv", encoding="latin-1")
profile_creation = pd.read_csv("../data/EPO_Teradata_Employer_Profile_Creation_Report.csv")
job_seeker = pd.read_csv("../data/EPO_Teradata_Job Seeker_Profile_Creation_Report.csv")
job_board = pd.read_csv("../data/EPO_Teradata_Job_Board_Sales_Report.csv")
feedback = pd.read_csv("../data/Feedback__c.csv", encoding="latin-1", low_memory=False)
account = pd.read_csv("../data/SalesForce_Account.csv", encoding="latin-1", low_memory=False)
sf_case = pd.read_csv("../data/SalesForce_Case.csv", encoding="latin-1", low_memory=False)
info_c = pd.read_csv("../data/SalesForce_Hire_Information__c.csv", encoding="latin-1")
opp = pd.read_csv("../data/SalesForce_Opportunity.csv", low_memory=False)
record = pd.read_csv("../data/SalesForce_RecordType.csv")

#no columns to pull data from
#sales_2018 = pd.read_csv("../data/SalesForce_2018Activities.csv")
#sales_force = pd.read_csv("../data/SalesForce_Contact.csv")
#email = pd.read_csv("../data/vr__VR_Email_History_Contact__c.csv")

ls = [campaign, profile_creation, job_seeker, job_board, feedback, account, sf_case, 
      info_c, opp, record]
ls_name = ["campaign", "profile_creation", "job_seeker", "job_board", "feedback", "account", "sf_case", "info_c", "opp", "record"]

# Lower and replace spaces with "_" in column names
for x in ls:
    x.columns = map(str.lower, x.columns.str.replace(" ", "_").str.replace("?", ""))

df_dict = dict(zip(ls_name, ls))
print("---Dataframes Shapes---")
for x in range(len(df_dict)):
    print(f"{list(df_dict.keys())[x]} Shape: {list(df_dict.values())[x].shape}")

---Dataframes Shapes---
campaign Shape: (1386, 103)
profile_creation Shape: (778, 5)
job_seeker Shape: (4342, 5)
job_board Shape: (521, 8)
feedback Shape: (15807, 70)
account Shape: (16858, 168)
sf_case Shape: (14845, 56)
info_c Shape: (30754, 34)
opp Shape: (10849, 130)
record Shape: (80, 13)

In [8]:
def df_sql(df_ls,name, conn):
    """
    Load all data into a sqlite3 DB.
    
    df_ls: YOu list of dataframes
    name: The list containing the names of your dataframes
    conn: The SQLite3 connection
    """
    
    conn = conn
    
    # Load all dataframes into a single SQLite3 database
    for x in range(len(df_ls)):
        df_ls[x].to_sql(f"{name[x]}", conn, index=False)
        
    return   

def create_table(conn):
    """
    Returns a list a create table statements as strings
    
    conn: The SQLite3 connection
    """
    
    curs = conn.cursor()
    
    # Fetch all create table statements from the SQLite3 DB
    query = curs.execute("SELECT * FROM sqlite_master WHERE type='table'").fetchall()
    table_ls = []
    
    # Index into the query and format string to get rid of uneeded characters
    for x in range(len(query)):
        table_ls.append(query[x][4].replace("\n", "") + ";")
    
    return table_ls

def insert_pg(conn, name):
    """
    Create and append insert statements to a list
    
    conn: SQLite3 connection
    name: list of dataframe names
    """
    
    curs = conn.cursor()
    insert_ls = []
    
    # Iterate through name list of names and query the schema of each table
    for x in range(len(name)):
        curs.execute(f"SELECT column_name FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='{name[x]}';")
        # Prime the insert_str to create a proper insert statement
        insert_str = f"INSERT INTO {name[x]} ("
        # Iterate through curs objects and append schema to col_ls
        for y in curs:
            col_ls = []
            col_ls.append(y[0])
            # Iterate through col_ls and format string with comma and space
            for z in range(len(col_ls)):
                insert_str += col_ls[z] + "," + " "
        insert_str = insert_str[:-2] # remove the "," and " " from the last line
        # Add the ending to the string with Psycopg2 formatting
        insert_str += ") VALUES %s"
        insert_ls.append(insert_str)
        
    return insert_ls

### SQLite3

In [4]:
# Make connection
conn = sqlite3.Connection("../data/heroes.sqlite3")

# Load the DB
df_sql(ls, ls_name, conn)

# Extract CREATE TABLE statements and append to list
table_ls = create_table(conn)

### Psycopg2 and Azure

In [9]:
# Load credentials from .env
name = os.getenv("AZURE_DB_NAME")
pw = os.getenv("AZURE_PASS")
host = os.getenv("AZURE_HOST")
user = os.getenv("AZURE_USER")
ssl = os.getenv("AZURE_SSLMODE")

# Connect
conn_string = f"host={host} user={user} dbname={name} password={pw} sslmode={ssl}"
pg_conn = psycopg2.connect(conn_string)
pg_curs = pg_conn.cursor()

# Drop and Create tables
for x in ls_name:
    pg_curs.execute(f"DROP TABLE IF EXISTS {x};")
    pg_conn.commit()

for x in range(len(table_ls)):
    pg_curs.execute(table_ls[x])
    pg_conn.commit()

# Gather insert statements to a list
print("---Generating Insert List---")
insert_ls = insert_pg(pg_conn, ls_name)

# Insert the Data
print("---Starting Data Insert---")
for x in range(len(ls_name)):
    curs = conn.cursor()
    data = curs.execute(f"SELECT * FROM {ls_name[x]}").fetchall()
    query = insert_ls[x]
    extras.execute_values(pg_curs, query, data)
    pg_conn.commit()
    print(f"{ls_name[x]} data inserted")
print("---Data Insert Finished---")

---Generating Insert List---
---Starting Data Insert---
campaign data inserted
profile_creation data inserted
job_seeker data inserted
job_board data inserted
feedback data inserted
account data inserted
sf_case data inserted
info_c data inserted
opp data inserted
record data inserted
---Data Insert Finished---

In [10]:
# Test that data can be queried
for x in range(len(ls_name)):
    pg_curs.execute(f"SELECT * FROM {ls_name[x]}")
    for y in range(1):
        print(f"---First row from {ls_name[x]} Azure Postgres DB---")
        print(pg_curs.fetchone(), "\n")

---First row from campaign Azure Postgres DB---
('7010z000000mBaVAAU', 0, 'O2O Volunteer Program Email', '000000000000000AAA', 'Email', '012380000009wCN', 'Completed', None, None, None, None, None, 0, 0.0, 1, '000000000000000AAA', 0, 0, 1006, 0, 0, 0, 0.0, 0.0, 0, 0, 1006, 0, 0, 0, 0.0, 0.0, 0, 0.0, 0.0, 0.0, '00538000005Ey04AAC', '1/15/2019 14:11', '00538000005Ey04AAC', '1/15/2019 14:11', '00538000005Ey04AAC', '1/15/2019 14:13', None, None, 0, 0.0, 0, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 0, 0, None, None, '1/15/2019 0:00', 0, 0, None, None, 0.0, 0, 0, None, 0.0, 0.0, None, None)

---First row from profile_creation Azure Postgres DB---
('4c5dd3d1-9c8c-4203-a179-3a2590f8d596', 'Company 1', '2018-03-28 10:12:14 UTC', 0, None)

---First row from job_seeker Azure Postgres DB---
('Job Seeker 1', 'Jacksonville', 'Florida', '2018-01-01 00:07:07 UTC', '2018-01-01 00:07:08 UTC')

---First row from job_board Azure Postgres DB---
(175871, '2018-10-25 20:14:31 UTC', 'Accounts Payable Specialist', 6270590.0, 'Year Long Job Board Posting , Priority Listing, Resume Search Access for Duration of Package', 'Company 1', '$483.75 ', 'PAYITFORWARD')

---First row from feedback Azure Postgres DB---
('a3M0z0000001JVbEAM', '00538000004gsNsAAI', 0, 13702, '8/5/2018 4:11', '00538000004gsNsAAI', '8/5/2018 4:11', '00538000004gsNsAAI', '8/5/2018 4:11', None, '0033800002o0VcdAAE', None, 'Career Counseling Survey', None, None, None, None, 3.0, '31 - 60 minutes', None, None, 'Yes', None, 'General Job Search;Specific Industry', 5.0, None, 4.0, 5.0, 5.0, None, None, None, None, None, None, None, None, '5003800000y5oVZAAY', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)

---First row from account Azure Postgres DB---
('0010z00001SQFPbAAP', 0, None, None, '012500000000r6J', '000000000000000AAA', 'Georgia', '30004', None, '00538000005EqroAAC', '8/6/2018 14:44', '00538000005EqroAAC', '8/7/2018 3:00', '00538000004gsNsAAI', '8/7/2018 3:00', None, None, None, None, None, None, 'Local', 'Employment', 0.0, None, None, None, None, 0, 0, 0, 0, 0, None, 'Red', None, None, None, None, None, None, None, None, None, None, None, 0, '0030z00002PrXMiAAN', 0, None, None, None, 0.0, 0, 0.0, 0.0, None, None, 0.0, None, 0, None, None, None, None, None, None, 0, 0, 0.0, 0.0, None, None, 'No', None, None, None, None, None, 0, None, 0, None, None, None, None, None, None, None, 0, None, 0, 0.0, None, None, 0.0, 0, 0, 0, 0, None, 0.0, 0, 0.0, None, None, None, None, None, None, 0, None, None, None, None, None, None, None, None, None, None, 1.0, 0, 0, None, None, None, None, None, 141085.0, None, None, None, None, None, None, None, None, None, None, None, None, None, 0.0, None, None, None, None, None, None, 0.0, 0.0, 0.0, 0.0, None, 0.0, 0, 0.0, 0.0, 0.0, None, None, None, None, None, None, None, None)

---First row from sf_case Azure Postgres DB---
('5000z00001EpXrYAAV', 0, 14477, '0030z00002PrXEhAAN', '0015000000KUwKAAA1', '000000000000000AAA', '01m50000000H2OwAAK', '000000000000000AAA', 'Volunteer Request', '0120z0000005Q4O', 'Completed', 'Mentoring', None, 1.0, 'Non - Urgent', 1, '8/29/2018 12:39', 0, 0, 0, '00538000004kmwWAAQ', 0, 0, '8/14/2018 12:46', '005380000063fCOAAY', '9/15/2018 18:32', '00538000004gsNsAAI', '9/15/2018 18:32', None, '8/14/2018 0:00', None, None, None, None, 0.0, None, None, 0.0, None, None, None, None, None, None, '0033800002kU4A7AAK', 0.0, 0.0, 1.0, None, None, None, None, 'Mock Interview', None, None, None)

---First row from info_c Azure Postgres DB---
('a5J0z000000NRa9EAG', 0, 31334, '1/15/2019 15:36', '00538000005F2ADAA0', '1/16/2019 13:52', '00550000002dthaAAA', '1/16/2019 13:52', None, '1/15/2019 0:00', '12/24/2018 0:00', '0013800001IWUgRAAX', '0033800002cveGHAAY', 'U.S. Immigration and Customs Enforcement', 'Immigration Services Assistant', 'Professional Services', 'Government and Public Administration', '1185 S Vinnell Way, Boise, ID', '83709', '$50,000 - $59,999', 'Full-Time', 1, 0, 0, 0.0, None, 1, 0, '1/15/2019 0:00', '00538000005F2ADAA0', 1, 1, None, 0.0)

---First row from opp Azure Postgres DB---
('0060z00001vL8DcAAK', 0, '0013800001E5JgdAAF', '012500000000r6E', 0, 'Closed Won', 11.0, 26.38, 100, 26.38, None, '8/14/2018 0:00', 'Recurring', None, 'Web', 1, 1, 'Closed', 'Closed', '70138000001MCPcAAO', None, None, '00538000004gsNsAAI', '8/14/2018 9:23', '00538000004gsNsAAI', '10/6/2018 6:00', '00538000004gsNsAAI', '10/6/2018 6:00', None, None, 2018, 3, None, None, None, 0, 0.0, 1.0, 'Not Posted', None, 0, 0, 0, None, None, None, None, None, None, None, None, 'Individual Donor', '8/14/2018 0:00', None, None, '0033800002g4oIVAAY', 0.0, 0.0, 1, 26.38, '0033800002g4oIVAAY', None, None, '8/22/2018 0:00', 'Credit Card', 0.0, '70138000001MCPcAAO', None, None, None, None, 0.0, 0.0, None, 'Credit Card', 'Donation', 'US', 'NY', None, None, 25.0, None, '8/14/2018 9:23', None, 13107400.0, '0033800002g4oIVAAY', 'a2438000001ajaKAAQ', 'a25380000013ZgdAAE', 1.38, None, 0.0, None, 26.38, 'Yes', None, 0.0, None, 0.0, None, None, None, None, 1.0, 0.0, 75867.0, 31222.0, None, None, 3004700.0, 'USD', 'success', 0.5, 'USD', 1.38, 0.88, 26.38, 'USD', 25.0, None, 0.0, 25.0, 0.0, 0.0, None, None, None, 1.0, 'Monthly', None, None)

---First row from record Azure Postgres DB---
('0120z0000005Q4OAAU', 'Volunteer Program Request', None, None, '0190z0000008pB1AAI', 'Case', 1, '00538000004gsNsAAI', '2018-08-08 13:39:34', '00550000001WkUeAAK', '2018-09-16 23:40:47', '2018-09-16 23:40:47', 0)

In [11]:
curs.close()
conn.close()
pg_curs.close()
pg_conn.close()